<div class="card shadow">
  <h4 class="card-header">
    Categories
  </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center" scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col" class="text-right">
          <a class="btn btn-outline-success" href="/admin/categories/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Category
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categories}}
      <tr>
        <th class="text-center" scope="row">{{IDCategory:}}</th>
        <td>{{NameCategory}}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="/admin/categories/edit/{{IDCategory}}" role="button">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>