       


                        <!-- Single news Start (in the right)-->
                    <div class="single-news mt-50">
                                <!-- Single Featured Post -->
                               {{!-- {{#each singleBlog}} --}}

                               {{#each this.singleBlog}}
                               <div class="single-blog-post featured-post single-post">
                                       <div class="post-data">
                                             
                                               <a href="#" class="post-catagory">Công nghệ</a>
                                               <a href="#" class="post-title">
                                                   <h6>{{Tittle}}</h6>
                                               </a>
                                           
                                               
                                               <div class="post-meta ">
                                                    <p><a style="display:inline" href="#" class="post-author">Hoài Thi</a> Ngày đăng<a href="#" class="post-date"> 3 tháng 5 2019</a></p>
                                                    <div class="bold-p">
                                                            <p class="bold-p">{{SortContext}}</p>
                                                    </div>  
                                                    <div>

                                                         {{Context}}
                                                    </div> 
                                                   
                                                    
                                                   
                                                    <div class="newspaper-post-like d-flex align-items-center justify-content-between">
                                                            <!-- Tags -->
                                                            <div class="newspaper-tags d-flex">
                                                                <span>Thẻ:</span>
                                                                <ul class="d-flex">
                                                                    <li><a href="#">Công nghệ,</a></li>
                                                                    <li><a href="#">Giải trí,</a></li>
                                                                   
                                                                </ul>
                                                            </div>
                    
                                                            <!-- Post Like & Post Comment -->
                                                            <div class="d-flex align-items-center post-like--comments">
                                                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt=""> <span>392</span></a>
                                                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt=""> <span>10</span></a>
                                                            </div>
                                                     </div>
                                                </div>
                                            
                                               
                                           

                           </div>
                           
                           
                     </div>
                      {{/each}}  
       
                       <!-- Comment Area Start -->
                       <div class="comment_area ">
                            <h5 class="title">3 Bình luận</h5>

                            <ol>
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">Hoài Thi</a>
                                            <a href="#" class="post-date">Ngày 3 tháng 5, 2019</a>
                                            <p>Samsum sẽ sớm bị các hãng china làm trước ý tưởng này thôi.</p>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="" alt="author">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                        <a href="#" class="post-author">Hoài Thi</a>
                                                        <a href="#" class="post-date">Ngày 3 tháng 5, 2019</a>
                                                        <p>Samsum sẽ sớm bị các hãng china làm trước ý tưởng này thôi.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>

                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                                <a href="#" class="post-author">Hoài Thi</a>
                                                <a href="#" class="post-date">Ngày 3 tháng 5, 2019</a>
                                                <p>Samsum sẽ sớm bị các hãng china làm trước ý tưởng này thôi.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>

                        <div class="post-a-comment-area section-padding-80-0">
                            <h4>Để lại bình luận</h4>
                            
                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="Tên" placeholder="Tên*">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" id="email" placeholder="Email*">
                                        </div>
                                        
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Bình luận"></textarea>
                                        </div>
                                        <div class="col-12 text-center">
                                            <button class="btn newspaper-btn mt-30 w-100" type="submit">Gửi bình luận</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                         </div>
                     </div>
             
<script>
    
    console.log({{Tittle}});
    // nhin cai nay tao lam y chang ma no hien ne`
</script>
                    