<!-- ##### Tin mới & Nổi bật trong tuần Start ##### -->

<!-- ##### Tin mới ##### -->
<div class="popular-news-area section-padding-80-50 mt-20">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-6 ">
                <div class="single-blog-post box-shadow">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="img/blog-img/b1.jpg" alt="">
                        <!-- Catagory -->
                        <div class="post-cta"><a href="category.html">Thế giới</a></div>
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="singlenews.html" class="headline">
                            <h5>18 Điều Thú Vị Có Thể Bạn Chưa Biết Về Hiện Tượng Bắc Cực Quang</h5>
                        </a>
                        <p>Những hình ảnh về bắc cực quang trong danh sách này cũng rất ấn tượng. Bạn hãy
                            sẵn sàng xách ba lô lên và đi đến vùng đất Bắc Cực ...</p>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Hoài Thi</a>Ngày đăng<a href="#" class="post-date"> 3
                                    tháng 5
                                    2019</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-blog-post post-style-5 d-flex wow align-items-center ">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="img/blog-img/b10.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="singlenews.html" class="headline">
                            <h5>Thời tiết ngày 22/4: Miền Bắc và Trung nắng nóng mức nào?</h5>
                        </a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Tên tác giả</a> Ngày đăng <a href="#" class="post-date">
                                    3 tháng
                                    5 2019</a></p>
                        </div>
                    </div>
                </div>

                <div class="single-blog-post post-style-5 d-flex wow align-items-center ">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="img/blog-img/b10.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="singlenews.html" class="headline">
                            <h5>Thời tiết ngày 22/4: Miền Bắc và Trung nắng nóng mức nào?</h5>
                        </a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Tên tác giả</a>Ngày đăng <a href="#" class="post-date">3
                                    tháng 5
                                    2019</a></p>
                        </div>
                    </div>
                </div>

                <div class="single-blog-post post-style-5 d-flex wow align-items-center ">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="img/blog-img/b10.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="singlenews.html" class="headline">
                            <h5>Thời tiết ngày 22/4: Miền Bắc và Trung nắng nóng mức nào?</h5>
                        </a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Tên tác giả</a>Ngày đăng<a href="#" class="post-date">3
                                    tháng 5
                                    2019</a></p>
                        </div>
                    </div>
                </div>

                <div class="single-blog-post post-style-5 d-flex wow align-items-center ">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="img/blog-img/b10.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="singlenews.html" class="headline">
                            <h5>Thời tiết ngày 22/4: Miền Bắc và Trung nắng nóng mức nào?</h5>
                        </a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Tên tác giả</a>Ngày đăng<a href="#" class="post-date"> 3
                                    tháng 5
                                    2019</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="popular-news-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h6> Nổi bật mỗi chuyên mục</h6>
            </div>


            <div class="row">



                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="#"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="#" class="post-catagory">Bóng Đá</a>
                            <a href="#" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>120</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>7</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Single Featured Post -->









<!-- ##### Nổi Bật & Mới mỗi chuyên mục  END ##### -->