{{#section 'css'}}
<!-- Tags Input -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
<!-- File Input -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css"> -->
{{/section}}

{{#section 'js'}}
<!-- Tiny MCE -->
<script
src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
  $(function () {
    tinymce.init({
      selector: '#txtContent',
      height: 500,
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
      'forecolor backcolor',
      'table link image media',
      ],
    });
  })

  // $(function () {
  //   $('#avatar').fileinput({
  //     theme: 'fa',
  //     dropZoneEnabled: false,
  //     allowedFileExtensions: ['png', 'jpg', 'jpeg'],
  //     uploadUrl: '/add',
  //     uploadAsync: false
  //   })
  // })

  // fetch('/add-blog', {
  //   method: 'POST',
  //   headers: {
  //     'Content-Type': 'application/json'
  //   },
  //   body: JSON.stringify({
  //     blog: {
  //       IDCategory: IDCategory,
  //       Tittle: Tittle,
  //       Context: tinyMCE.get('txtContent').getContent(),
  //       SortContext: SortContext
  //     }
  //   })
  // });
</script>
<!-- Tags Input -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<!-- File Input -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script> -->
  {{/section}}


<div class="card shadow mt-3">
  <h4 class="card-header">
    Bài viết mới
  </h4>
  <div class="card-body">
    <form method="POST">
      <!-- Title Input -->
      <div class="form-group">
        <label for="txtTitle">Tiêu đề</label>
        <textarea class="form-control" id="txtTitle" name="Tittle"
        placeholder="Tiêu đề bài viết" required></textarea>
      </div>
      <!-- Summary Input -->
      <div class="form-group">
        <label for="txtSummary">Tóm tắt</label>
        <textarea class="form-control" id="txtSummary" name="SortContext"
        placeholder="Tóm tắt nội dung" required></textarea>
      </div>
      <!-- Thumbnail -->
      <div class="form-group mt-3">
        <label class="col-form-label" for="avatar">Ảnh thumbnail</label>
        <!-- <input id="avatar" name="avatar" type="file" class="file" data-show-preview="true"> -->
        <input id="avatar" name="linkAvatar" type="text" class="form-control"
        placeholder="Link ảnh" required>
      </div>
      <!-- Category Select -->
      <div class="form-group mt-2">
        <label for="txtCategory">Chuyên mục</label>
        <select class="form-control" id="txtCategory" name="IDCategory" required>
          <option selected value="">Chọn chuyên mục</option>
          {{#each this.categories}}
          <option value="{{IDCategory}}">{{NameCategory}}</option>
          {{/each}}
        </select>
      </div>
      <!-- Content Input -->
      <div class="form-group mt-2">
        <label for="txtContent">Nội dung</label>
        <textarea class="form-control" id="txtContent" name="Context"></textarea>
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>