
<h5 class="card-title mt-100 ">DS người dùng</h5>
<div class=" d-flex DSND">
  
    <div class="col-sm-6">
        {{#each this.Users}}
        <div class="list-group">

            <a href="giahantaikhoan.html" class="list-group-item list-group-item-action">{{LastName}} {{FristName}}
                <span class="badge badge-primary badge-pill float-right ">1 ngày</span></a>
            
        </div>
        {{/each}}
    </div>
    <div class="col-sm-6">
        
        <div class="list-group">
           
            <a href="giahantaikhoan.html" class="list-group-item list-group-item-action">Huỳnh Duy Tân
                <span class="badge badge-primary badge-pill">1 ngày</span></a>
            <a href="giahantaikhoan.html" class="list-group-item list-group-item-action">Huỳnh Duy Tân
                <span class="badge badge-primary badge-pill">hết hạn</span></a>
        </div>
    </div>
</div>